.css-move-top{
  .ant-card-body{
    position: relative;
    .msg-p{
      padding-right: 50px;
      word-break: break-all;
    }
    img{
      position: absolute;
      right: 20px;
      width: 50px;
      height: 50px;
      transform: translateY(-50%);
    }
  }
}