
.new-detail,.old-detail{
  img{
    transition: .5s all linear;
    &:hover{
      transition: .5s all linear;
      box-shadow: 0 8px 30px 0 rgba(7,17,27,.2);
      transform: translate3D(-3px,-3px ,0);
    }
  }
}